*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: #46a2fd;
}

.menu{
    height: 80px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #46a2fd;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #46a2fd;
}

.menu .text-menu-selected{
    color: #46a2fd;
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    font-size: 20px;
    background: #d6d5d5fa;
    border-radius: 100%;
    color: #787878;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;
}

#icon-menu:hover{
    opacity: 0.8;
}

/*Portada*/
.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../img/logoD.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    /*box-shadow: 0 4px 25px -22px black;*/
}

/*.container-cover::before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(38, 172, 255, 0.8);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 60px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 20px;
}

.container-info-cover p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}*/

/*Container contenido del articulo*/

.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

article:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: #46a2fd;
}

article h1{
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: #3c3c3c;
}

article img{
    width: 100%;
    margin-top: 20px;
}

/*Galeria*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

* {
    font-family: 'Roboto', sans-serif;

}

/* Slicebox Style */
.sb-slider {
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.sb-slider li {
    margin: 0;
    padding: 0;
    display: none;
    overflow: hidden;
}

.sb-slider li > a {
    outline: none;
}

.sb-slider li > a img {
    border: none;
}

.sb-slider img {
    max-width: 100%;
    display: block;
}

.sb-description {
    padding: 20px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    border-left: 4px solid #fff;
    opacity: 0;
    color: #fff;

    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    -ms-transition: all 300ms;
    transition: all 300ms;
}

.sb-slider li.sb-current .sb-description {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
    background: rgba(0, 0, 0, 0.8);
}

.sb-perspective {
    position: relative;
}

.sb-perspective > div {
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}

.sb-side {
    margin: 0;
    display: block;
    position: absolute;

    /*-moz-backface-visibility: hidden;*/

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


/* custom style */
.container-galeria {
    width: 100%;
    max-width: 800px;
    margin: auto;
    position: relative;
}


.sb-description h3 {
    font-size: 20px;
}

.sb-description h3 a {
    color: #4a3c27;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.nav-arrows {
    display: none;
}

.nav-arrows a {
    width: 42px;
    height: 42px;
    background: #000 url(https://tympanus.net/Development/Slicebox/images/nav.png) no-repeat top left;
    background-size: cover;
    opacity: 0.6;
    position: absolute;
    top: 45%;
    left: 20px;
    text-indent: -9000px;
    cursor: pointer;
    border-radius: 50%;
    transition: all 300ms;
}

.nav-arrows a:first-child {
    left: auto;
    right: 20px;
    background-position: top right;
}

.nav-arrows a:hover {
    opacity: 1;
    transform: scale(1.1);
}

@media screen and (max-width: 800px) {
    
    .nav-arrows a {
        width: 32px;
        height: 32px;
    }
    
    .sb-description {
        height: 30px;
    }
    
    .sb-description h3{
        margin: 3px;
    }
}

/* Galeria 1

.container-galeria{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.gallery img{
    width: 100%;
}
*/

/*Aside de los Articulos relacionados*/

.container-aside aside{
    width: 320px;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.container-aside aside img{
    width: 100%;
}

.container-aside aside h2,
.container-aside aside p{
    margin-top: 20px;
    padding: 0px 20px;
}

.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: #46a2fd;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

.container-aside aside button:hover{
    opacity: 0.9;
}

/*Footer pie de pagina*/
.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;
}

.container-footer footer .logo-footer img{
    width: 100px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-facebook-f:hover{
    background: #41579A;
    color: #fff;
}

footer .redes-footer .fa-whatsapp:hover{
    background: #0caa1a;
    color: #fff;
}

footer .redes-footer .fa-location-dot:hover{
    background: #b4b8b4;
    color: #e40808;
}

.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: #bdbbbb7a;
}

.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

/*Responsive Design - adaptable a dispositivos moviles*/

@media screen and (max-width: 1220px) {
    .header-content,
    .container-content,
    .container-footer footer{
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1220px) {
    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
        box-shadow: 0 0 0 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside{
        max-width: 300px;
        margin: 10px;
    }
}

@media screen and (max-width: 800px){
    .container-all{
        transition: all 300ms cubic-bezier(1,0,0,1);
    }
    
    .move-container-all{
        transform: translateX(300px);
    }

    .menu{
        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        background: #FFF;
        overflow: hidden;
        transform: translateX(-350px);
        box-shadow: 10px 0 20px -25px black;
        transition: all 300ms cubic-bezier(1,0,0,1);
    }

    .show-lateral{
        width: 300px;
        transform: translateX(0px);
    }

    .menu nav ul{
        flex-direction: column;
    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: #858585;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }

    #icon-menu{
        display: flex;
    }

    .container-aside{
        flex-wrap: wrap;
    }
}

/*Galeria Personal Tecnico*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');


html, body{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

.title{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}


.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}


.container .card h4{
    font-weight: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/*Contacto*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

section{
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

section .contactForm{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 40px;
    width: 90%;
    height: 80%;
    background: #46a2fd;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    border-radius: 30px;
}

section .contactForm .form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin-left: 30px;
}

section .contactForm .form form{
    width: 100%;
}

section .contactForm .form .texto h2{
    color: #1766a3;
    font-size: 2em;
    margin-bottom: 10px;
}

section .contactForm .form .texto p{
    color: #0b426c;
    line-height: 1.5;
    margin-bottom: 20px;
}

section .contactForm .form form .inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

section .contactForm .form form .inputBox label{
    color: #1766a3;
    font-weight: 700;
}

section .contactForm .form form .inputBox input[type="text"],
section .contactForm .form form .inputBox input[type="email"],
section .contactForm .form form .inputBox textarea{
    border: none;
    background: #cbebfb;
    padding: 10px;
    border-radius: 15px;
    color: #1766a3;
    resize: none;
}

section .contactForm .form form .inputBox input[type="text"]:focus,
section .contactForm .form form .inputBox input[type="email"]:focus,
section .contactForm .form form .inputBox textarea:focus{
    outline: 2px solid #1766a3;
}

section .contactForm .form form input[type="submit"]{
    background: #1766a3;
    display: inline-block;
    text-align: center;
    width: 250px;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59);
    transition: 0.3s;
}

section .contactForm .form form input[type="submit"]:hover{
    background: #0b426c;
}

section .contactForm .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .contactForm .info .imgBox{
    position: relative;
    width: 350px;
    height: 400px;
}

section .contactForm .info .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contactForm .info .textBox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

section .contactForm .info .textBox .infoContact{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 10px;
}

section .contactForm .info .textBox .infoContact .icon-redes-contact{
    font-size: 2em;
    margin-right: 10px;
    color: #0b426c;
}

section .contactForm .info .textBox .infoContact p{
    color: #0b426c;
}

@media only screen and (max-width: 1200px){
    section .contactForm{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media only screen and (max-width: 768px){
    section .contactForm .info{
        height: 300px;
        padding: 20px;
    }

    section .contactForm .info .imgBox{
        display: none;
    }
}

@media only screen and (max-width: 600px){
    section .contactForm .form{
        margin-left: 0px;
        width: 100%;
    }
}